body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
}

.input-section {
    margin: 20px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
}

.visualization-container {
    width: 60%;
    display: flex;
    align-items: flex-end;
    height: 300px;
    border: 1px solid #ccc;
    position: relative;
}

.container {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.bar {
    background-color: #3498db;
    margin: 0 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

.bar-value {
    position: absolute;
    top: -20px;
    color: #333;
}

.pointer {
    position: absolute;
    bottom: -35px;
    color: red;
    font-weight: bold;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.code-container {
    width: 40%;
    background-color: #2d2d2d;
    padding: 20px;
    color: #f0f0f0;
    border-radius: 5px;
    height: 300px;
    overflow-y: auto;
}

pre {
    margin: 0;
}

#code span {
    display: block;
    padding: 5px;
    transition: background-color 0.3s ease;
}

#code .highlight {
    background-color: #3498db;
}

.explanation-container {
    width: 80%;
    text-align: center;
    margin-top: 20px;
}
